<div class="row my-5">
    <div class="col-12">
        <h1>Acerca de Siesa</h1>
    </div>

    <div class="col">
        <h2>Misión</h2>
        <p>Satisfacer la necesidad de nuestros clientes con productos y servicios de un alto valor agregado con
            soluciones que
            superen las expectativas del mercado.

            A través de una relación integral nuestra misión es fortalecer y mejorar nuestro nivel de productividad y
            competitividad para crear un compromiso a largo plazo en un ambiente de seguridad y confianza asumiendo
            siempre la
            responsabilidad real y constante mediante colaboradores comprometidos a consolidar un equipo de trabajo
            altamente
            capacitado y con una cultura orientada al éxito.</p>
    </div>
    <div class="col">
        <h2>Visión</h2>
        <p>Ser una empresa que proporcione un sistema a base de materiales con tecnología de punta, resistentes a la
            corrosión y
            de protección pasiva contra fuego que permita reducir costos y proteger el medio ambiente.</p>
    </div>
</div>