<div class="my-5">
    <h1>Historia (imagenes)</h1>

    <p>
        Los inicios del software contable en el mercado
    
        Durante la década de los años 80 la informática se abría paso como una de las áreas que transformarían la vida de
        las personas y de las empresas. Los desarrollos de software contable, administrativos, operativos y la incorporación
        de
        computadores presentaron un panorama diferente en la forma de realizar las tareas laborales a nivel global y
        Colombia no
        fue la excepción a pesar de que la llegada de esta tecnología era más lenta.
    
        Por ello, era necesaria la creación de una compañía para cubrir el vacío en materia de software contable y
        empresarial. Fue ahí, donde el carácter y la experiencia en el desarrollo de software contable de los fundadores
        Fernando Otoya y
        Manuel Barreto, hicieron que hace 40 años naciera Sistemas de Información Empresarial S.A. (Siesa).
    
        Fernando Otoya, fundador de la compañía Siesa, después de finalizar sus estudios profesionales en la Universidad de
        los Andes, llegó a la ciudad de Cali y justo en ese momento estaban apareciendo los minicomputadores, los cuales
        eran
        presentados con sistemas operativos y lenguajes propios de cada creador y fue ahí cuando se empezaron a crear los
        primeros desarrollos de software contable hechos a la medida para cada microcomputador. Posteriormente a mediados de
        los
        80´s, estos desarrollos fueron trasladados a un nuevo ambiente llamado Cobol como lenguaje base y es en ese momento
        es que nace en el año 1985 el sistema UNO, nombre comercial del software contable de Siesa.
    
        Con la llegada del sistema UNO se democratizó el uso de la contabilidad sistematizada en las empresas que ya podían
        comprar un microcomputador y se les enseñó a los contadores de la época a olvidar los libros de contabilidad y
        enfrentarse quizá al primer software contable en Colombia, siendo Siesa el promotor de los sistemas contables
        automatizados e integrados.
    
        Después de varias versiones desarrolladas del software contable “Sistema UNO”, se comenzaron a remplazar las cajas
        registradoras del comercio por sistemas centralizados y de esta manera se comenzó la formalización y automatización
        del comercio en Colombia y poco a poco se empezó a involucrar otros sectores económicos, con la involucración de
        desarrollos
        de software específicos para diferentes actividades administrativas y operativas.
    
        Lo anterior llevo a que en el año 1998 se iniciara un ambicioso proyectos para desarrollar una solución ERP, la cual
        buscaba llevar la anterior versión de software contable a una versión de sistema mucho mas robusto e integrado a
        diferentes áreas y actividades de las empresas, utilizando tecnologías y lenguajes modernos, el cual es conocido hoy
        en día como Siesa Enterprise.
    
    </p>
    
    <img class="img-fluid" src="assets/images/img01.jpg">
    
    <p>
        Siesa se consolida como experto en desarrollo de soluciones de software contable y soluciones de gestión empresarial
    
        A lo largo de la historia, Siesa se ha caracterizado por ser una compañía de tecnología que, por medio del
        desarrollo de soluciones informáticas, como software contable, administrativo y operativos, ha contribuido a mejorar
        el
        rendimiento de las organizaciones en Colombia y América latina, a través de productos que cuentan con altos
        estándares de servicio
        y flexibilidad que se alinean a las necesidades de cualquier negocio.
        
        Actualmente Siesa cuenta con un amplio portafolio de productos que han diversificado el mercado a través del
        aprovechamiento de tecnologías móviles que permiten que las empresas puedan gestionar sus actividades desde
        cualquier lugar, disminuyendo los costos operativos y manteniendo la seguridad de la información.
        
        Siesa en el 2021 se consolida como una casa desarrolladora que además de ofrecer soluciones de software contable,
        entrega un ecosistema de soluciones que integran sistemas de gestión financieras, administrativas, gestión humana,
        manufactureras, puntos de venta y además plataformas de comercio electrónico, CRM, movilidad y facturación
        electrónica, convirtiéndose en una de las empresas de tecnología más solidas e integrales del mercado, haciendo
        presencia en más
        de 10.000 compañías en Colombia y en el extranjero.
    
        Las soluciones de software que ofrece Siesa en la actualidad se adaptan a las necesidades de cada negocio, contando
        dos soluciones de gestión empresarial: Siesa Cloud SBS, es una solución ERP en la nube diseñada para empresas en
        crecimiento, la cual es una plataforma evolucionada e integral de lo que hace muchos años fue el software contable
        Sistema UNO y hoy en día es un sistema de rápida implementación que permite gestionar y optimizar los procesos de
        pequeñas y medianas empresas que no están en capacidad de hacer grandes inversiones en tecnología. Siesa Enterprise,
        es un ERP diseñado para grandes empresas, integrando de manera efectiva todas las áreas de las empresas, con
        estándares
        de clase mundial.
        
        Hoy por hoy, el reto de Siesa no es solo desarrollar soluciones de software contable y gestión empresarial, es
        continuar evolucionando con las necesidades del mercado, enfrentando cualquier reto tecnológico y apoyando a las
        empresas en
        el proceso de transformación digital, convirtiéndolas en generadores potenciales de oportunidades de negocios y
        contribuyendo al crecimiento económico del país.
    </p>
    
    <img class="img-fluid" src="assets/images/img02.jpg">
</div>